.headerbackground {
    background-color: #fff;
    margin-bottom: 0px;
    padding-bottom: 7px
}
.headerimage {
    background-color: #c75d5d}
.style1 {
    margin-top: -17px;
    padding-top: 0px
}
.style2 {
    background-color: #8a8686;
    color: #fff;
    background-attachment: fixed
}
.style3 {
    padding-right: 0px
}